**/comArchive.db
**/comArchive.db-journal
**/target/
**/bin/
**/libs/
**/.svn/
**/providerURIs.properties
*.iml
**/.idea
*/**/nbactions*.xml
**/.project
**/.classpath
**/.settings
**/.vscode
**/build/
**/.factorypath
**/centralDirectoryService.uri
